{{/* Header */}}

<div class="header">

    {{ if or (not (.Param "hideHeader")) .IsHome }}

    <div style="display: flex; gap:8px;flex-wrap: wrap;align-items: center;">
        <img src="/logo.jpg" alt="logo" style="width: 80px;border-radius: 9999px;" />
        <div style="display: flex; flex-direction: column; gap: 4px;">
            <h1 class="header-title">
                <a href="{{ site.BaseURL }}">{{ site.Title }}</a>
            </h1>
            <p>Developer | geek | agnostic </p>
        </div>
    </div>

    <div class="header-menu">
        {{ $currentPage := . }}

        {{ with site.Params.menu }}
        {{ range . }}

        <p
            class="small {{ if eq .name (lower $currentPage.Name) }} bold {{end}}">
            <a href="{{ .url }}" {{ if and (isset . "newTab") .newTab
                }}target="_blank" rel="noopener noreferrer" {{ end }}>
                /{{.name }}
            </a>
        </p>
        {{ end }}
        {{ end }}
    </div>

    {{ end }}

</div>
